.container {
  width: 35vw;
  max-width: 90%;
  margin: 2rem auto;
  padding: 8px;
  background-color: var(--bg);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

@media (max-width: 600px) {
  .container {
      width: 100%;

  }

}


